#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        label = "corne-unified";

        default_layer {
            bindings = <
  &kp Q  &kp W  &kp F  &kp P  &kp B  &kp B               &kp B   &kp J   &kp L  &kp U      &kp Y       &kp SEMI
  &kp A  &kp S  &kp R  &kp T  &kp G  &kp G               &kp G   &kp M   &kp N  &kp E      &kp I       &kp O
  &kp Z  &kp X  &kp C  &kp D  &kp V  &kp V               &kp V   &kp K   &kp H  &kp COMMA  &kp PERIOD  &kp SLASH
  &kp Z  &kp X  &kp C  &kp D  &kp V  &kp V               &kp V   &kp K   &kp H  &kp COMMA  &kp PERIOD  &kp SLASH
  &kp Z  &kp X  &kp C  &kp D  &kp V  &kp V               &kp V   &kp K   &kp H  &kp COMMA  &kp PERIOD  &kp SLASH
  &kp Z  &kp X  &kp C  &kp D  &kp V  &kp V               &kp V   &kp K   &kp H  &kp COMMA  &kp PERIOD  &kp SLASH
  &kp Z  &kp X  &kp C  &kp D  &kp V  &kp V               &kp V   &kp K   &kp H  &kp COMMA  &kp PERIOD  &kp SLASH
  &kp Z  &kp X  &kp C  &kp D  &kp V  &kp V               &kp V   &kp K   &kp H  &kp COMMA  &kp PERIOD  &kp SLASH
            >;
        };
    };
};
